---
title : "02. 데이터 변형하기"
author : "GC"
date : "04/19/24"
---

# import

In [1]:
import pandas as pd

# ex1

1. ID 1의 무게를 200으로 변경

2. ID 21의 row를 삭제

3. ID 20의 row를 추가ID 20의 키는 70, 무게는 200입니다.

`-` 데이터 로드

In [23]:
df = pd.read_csv('data/body_imperial1.csv', index_col=0)
df.head()

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000             NaN
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801

`1` ID 1의 무게를 200으로 변경

In [24]:
df.loc[1, "Weight (Pound)"] = 200

`2`  ID 21의 row를 삭제

In [25]:
df.drop(21, axis = 0, inplace = True)

`3` ID 20의 row를 추가ID 20의 키는 70, 무게는 200입니다.

In [27]:
df.loc[20] = [70,200]
#df

***

# ex2

In [30]:
df = pd.read_csv('data/body_imperial2.csv', index_col=0)

`1` '비만도' column을 추가하고, 모든 ID에 대해 '정상'으로 설정

In [33]:
df["비만도"] = "정상"

`2` 'Gender' column의 값을 ID `0~10`까지는 'Male' `11~20`까지는 'Female'로 변경

In [35]:
df.loc[0:10, "Gender"] = "Male"
df.loc[11:20, "Gender"] = "Female"

C:\Users\rkdcj\AppData\Local\Temp\ipykernel_10248\1180722972.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Male' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0:10, "Gender"] = "Male"

***

# ex3

`-` 최종점수가 600점 이상, 각 파트가 최소 250점 이상이면 합격을 의미하는 컬럼 추가

In [37]:
df = pd.read_csv('data/toeic.csv')

## sol1

In [49]:
df["합격 여부"] = [True if (i>=250) & (j>=250) & (i+j >= 600) else False for i,j in zip(df.LC, df.RC)]

In [50]:
df

   Gender   LC   RC  합격 여부
0  female  315  320   True
1  female  430  245  False
2  female  430  475   True
3    male  180  220  False
4    male  325  350   True
5  female  295  400   True
6  female  405  475   True
7    male  155  150  False
8    male  280  315  False
9  female  215  475  False

## sol2

In [51]:
pass_total = df['LC'] + df['RC'] >= 600
pass_both = (df['LC'] >= 250) & (df['RC'] >= 250)
df['합격 여부'] = pass_total & pass_both

In [52]:
df

   Gender   LC   RC  합격 여부
0  female  315  320   True
1  female  430  245  False
2  female  430  475   True
3    male  180  220  False
4    male  325  350   True
5  female  295  400   True
6  female  405  475   True
7    male  155  150  False
8    male  280  315  False
9  female  215  475  False

`-` cowork 할 떄는 리스트 컴프리헨션보다 저렇게 가독성 있는 코드를 짜는게 좋을 것 같다.

***

# ex4

## sol1

`1` 첫 번째 컬럼에 `2`를 곱하기

In [58]:
df = pd.read_csv('data/Puzzle_before.csv')

In [59]:
df["A"] = df["A"]*2

`2` `B~E` 열 까지 80점 이상이면 1, 아니면 0으로 값 교체

In [66]:
df.loc[:,"B":"E"] = df.loc[:,"B":"E"].applymap(lambda x : 1 if x >=80 else 0)

C:\Users\rkdcj\AppData\Local\Temp\ipykernel_10248\2975510319.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.loc[:,"B":"E"] = df.loc[:,"B":"E"].applymap(lambda x : 1 if x >=80 else 0)

`3` F열의 2번째 값을 99로 교체

In [68]:
df.loc[2, "F"] = 99

In [69]:
df

    A  B  C  D  E   F
0   2  0  0  1  0  13
1   4  0  0  1  0  24
2   6  1  0  1  0  99
3   8  1  1  0  1  78
4  10  0  1  0  1  61

## sol2

In [70]:
import pandas as pd

df = pd.read_csv('data/Puzzle_before.csv')

df['A'] = df['A'] * 2
df[df.loc[:, 'B':'E'] < 80] = 0
df[df.loc[:, 'B':'E'] >= 80] = 1
df.loc[2, 'F'] = 99

# 테스트 코드
df

    A  B  C  D  E   F
0   2  0  0  1  0  13
1   4  0  0  1  0  24
2   6  1  0  1  0  99
3   8  1  1  0  1  78
4  10  0  1  0  1  61